<!DOCTYPE html>
<html>
<head>

    <!-- 뷰티파이  디자인 CDN -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
    <div id="app">
        <v-app>
            <v-app-bar app color="primary" dark> 
                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title>부산 관광 안내</v-toolbar-title>
            </v-app-bar>



        <v-main>            
            <v-navigation-drawer
            v-model="drawer"
            absolute
            left
            temporary
            >
                <v-toolbar flat>
                    <v-list>
                        <v-list-item > 
                            <v-list-item-avatar>
                                <v-icon class="grey white--text">mdi-account</v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-list-item-title>즐거운 부산</v-list-item-title>
                                <v-list-item-subtitle>다이나믹 부산</v-list-item-subtitle>
                            </v-list-item-content>

                        </v-list-item>
                    </v-list>
                </v-toolbar>
                <v-divider></v-divider>

                <!--네비게이션 서랍 메뉴-->
                    <v-list>
                        <v-list-item
                        v-for="(item, index) in items"
                        :key="index"
                        link
                        >
                            <v-list-item-icon>
                                <v-icon>{{ item.icon }}</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                
            </v-navigation-drawer>
            <!-- 네비게이션 서랍 끝-->

            <!-- 본문 내용 -->
            <v-container>
                <h1 class="d-flex justify-center ">현재 인기있는 곳입니다.</h1>
                <p class="text-center pa-2">추천을 통해 인기있는 곳을 골라주세요.</p>

                <!-- 그리드를 이용해서 화면 출력 -->
                <v-row>
                    <v-col cols="12" sm="6"
                    v-for="( site, index ) in sites"
                    :key="site.title"
                    >
                        <v-card
                        transition=""
                        >
                            <v-img :src="site.src" aspect-ratio="2.3"></v-img>

                            <v-card-text>
                                <h2>{{ site.title }}</h2>
                            </v-card-text>

                            <v-card-actions>
                                <h3>{{ site.count }}</h3>
                                <v-spacer></v-spacer>
                                <v-btn 
                                color="green white--text"
                                @click="recommend(index)"
                                >추천</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>

            <!-- 뷰티파이 카드디자인 위에 리스트 추가 :prop속성의 rec= "인스턴스 data의 rec"-->
            <recommend-list :recommendations="recommendations"></recommend-list>

        </v-main>
        </v-app>
    </div>

    <script src="./recommend-list.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data : {
            drawer : false,
            title : "",
            count : 0,
            sites : [
                { count : 0, title : '해운대', src : 'https://cdn.pixabay.com/photo/2013/01/17/02/17/busan-75137__480.jpg'},
                { count : 0, title : '바다 도시 야경', src : 'https://cdn.pixabay.com/photo/2017/06/07/12/24/building-2380214__340.jpg'},
                { count : 0, title : '광안대교', src : 'https://cdn.pixabay.com/photo/2016/10/17/07/53/busan-night-scene-1747130__480.jpg'},
                { count : 0, title : '해운대 인어동상', src : 'https://cdn.pixabay.com/photo/2018/11/26/08/21/mermaid-3838966__340.jpg'}
            ],
            items : [
                { title : '메인페이지', icon : 'mdi-card-bulleted-outline', },
                { title : '관광지소개', icon : 'mdi-clipboard-outline', },
                { title : '추천 명소', icon : 'mdi-check', }
            ],
            recommendations : []
        },
        methods : {
            recommend(index) {
                this.sites[index].count++;
                this.title=this.sites[index].title
                
                this.recommendations.push(
                    { count : this.sites[index].count, 
                        title : this.sites[index].title }
                );
            }
        }
        })
    </script>
</body>
</html>